<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://rexglobeappservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>rexglobeappservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RexGlobeAppService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RexGlobeAppService</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RexGlobeEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=RexGlobe;Integrated Security=False;User ID=sa;Password=password123$;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RexGlobe.RexGlobeEntities, RexGlobe" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="RexGlobeDB" Order="2" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=RexGlobe;Integrated Security=False;User ID=sa;Password=password123$;Application Name=EntityFramework" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=RexGlobe;Integrated Security=False;User ID=sa;Password=password123$" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RexGlobeDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=RexGlobe;user id=sa;password=password123$;Integrated Security=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RexGlobeDB-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=RexGlobe;Integrated Security=False;User ID=sa;Password=password123$;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RexGlobeEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/RexGlobeModel.csdl|res://*/RexGlobeModel.ssdl|res://*/RexGlobeModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=.;Initial Catalog=RexGlobe;Integrated Security=False;User ID=sa;Password=password123$;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>